@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.8rem;
  color: white;
}

.logo-container {
  display: flex;
  justify-content: center; /* Centrerer indholdet vandret */
  align-items: center; /* Centrerer indholdet lodret */
  width: 100%;
  height: auto;
}
.logo {
  /* Stilregler for dit logo */
  width: 50%;
  height: auto;
}

h1 {
  color: white;
  font-size: 2rem;
}
header > h1 {
  text-align: center;
}
p.weather::first-letter {
  text-transform: capitalize;
}

.app {
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  background: rgb(0, 126, 184);
  background-image: linear-gradient(
    0deg,
    rgb(1, 72, 104) 0%,
    rgb(40, 173, 213) 52%
  );
}

.app:before {
  content: "";
  /* background: url("./images/sunset.jpg") no-repeat center center/cover; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  border: 1px solid rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.1);
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .box .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.app .bottom {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  gap: 25px;
  padding: 1rem;
  border-radius: 12px;
}

.app .box {
  padding: 1rem;
  border-radius: 10px;
  width: 220px;
  height: 100;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.2s;
  z-index: -0.8;
  top: 1rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}
.app .box > p {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.error {
  display: flex;
  color: red;
  font-weight: 700;
  justify-content: center;
}

.bold {
  font-weight: 700;
}

/* RADAR */

.radar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.mapboxgl-canvas {
  border-radius: 25px;
}

.forecast-container {
  display: flex;
  height: 300px; /* Fast højde for containeren */
  overflow-y: auto; /* Tilføjer en vertikal scrollbar, hvis indholdet overstiger containerens højde */
  border-radius: 1px solid #ccc;
  padding: 10px;
  background: rgba(255, 255, 255, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  padding-bottom: 2em;
}

/* FOOTER */

footer {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.34);
  box-shadow: 0 4px 30px rgba(255, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  padding: 1.5rem;
  opacity: 0.5;
  width: 100vw;
  margin-top: auto;
  position: relative;
  bottom: 0;
}

li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
}
a.active {
  font-size: 2.5rem;
  text-decoration: underline;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 730px) {
  /* footer {
    display: none;
  } */

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box,
  input {
    width: 70vw;
  }
}
